

<div>
  <p>title : <%= link_to @book.title, book_path(@book) %></p>
  <p>body : <%= @book.body %></p>
  <p>name : <%= link_to @user.name, user_path(@user) %></p>
  <p>投稿日 : <%= @book.created_at.strftime('%Y/%m/%d') %></p>
  
  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book.id) %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</div>


<h1>投稿フォーム（仮）</h1>

 <% if @book.errors.any? %>
   <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
   <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>
<% end %>




<%= form_with model: @book, local:true do |f| %>
   <h4>title</h4>
   <%= f.text_field :title %>
   <h4>body</h4>
   <%= f.text_area :body %>
   <%= f.submit '投稿' %>
 <% end %>
